body {
    font-family: 'Kufam', cursive;
    color: #000;
}

/* --- TITLE --- */
#title {
    text-align: center;
}

#span-purple{
    color: rgb(161, 54, 161);
}

#main-heading {
    font-size: 3rem;
    padding: 0;
    letter-spacing: -0.3rem;
}

#description {
    margin-top: -2.5rem;
    font-style: italic;
    letter-spacing: -0.1rem;
}

/* --- FORM --- */
.form-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#survey-form {
    width: 50%;
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

#name, #email, #age, #comments {
    width: 85%;
    border: 0;
    border-bottom: 2px solid #000;
    padding: 0.3rem;
    color: #000;
    font-size: 20px;
}

#age{
    width: 10%;
}

#role-drop-down, #recommendation-radio-buttons, #favorite-feature-drop-down, #improvements-checkboxes {
    color: #000;
    background: transparent;
    font-size: 20px;
}

#submit {
    background: purple/*rgb(73, 206, 73)*/;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

/* --- FORM --- */

/*iPad Pro (sreens 1024 and before iPad)*/
@media only screen and (max-width: 1024px){

    /*title*/
    #main-heading {
        font-size: 4.5rem;
    }
    
    #description {
        margin-top: -4rem;
        font-size: 1.5rem;
    }

    #survey-form {
        width: 70%;
    }

    #survey-form label{
        font-size: 1.8rem;
    }

    #name, #email, #age, #comments {
        font-size: 1.5rem;
    }

    #role-drop-down, #recommendation-radio-buttons, #favorite-feature-drop-down, #improvements-checkboxes {
        font-size: 1.5rem;
    }

    #submit {
        width: 90%;
    }
}