body {
    font-family: 'Kufam', cursive;
    /*background-image: url(images/2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    color: rgb(73, 206, 73);
    height: 100vh;
    background-color: rgb(56, 50, 50);
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px black solid;*/
}

#main-heading {
    /*border: 1px black solid;*/
    flex: 1;
    order: 1;
}

#description {
    /*border: 1px black solid;*/
    flex: 1;
    order: 2;
}

/*-----------------------FORM-------------------------------------------------*/

.flex-items {
    height: 100vh;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    padding: 10px;
}

#survey-form {
    /*border: 1px black solid;*/
    width: 650px;
    
    padding: 30px;
    border-radius: 5px;
    /*background: rgba(0, 0, 0, 0.8);*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    
}

#name, #email, #age, #comments {
    width: 60%;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgb(73, 206, 73);
    padding: 15px;
    color: rgb(73, 206, 73);
    font-size: 20px;
}

#role-drop-down, #recommendation-radio-buttons, #favorite-feature-drop-down, #improvements-checkboxes {
    color: rgb(73, 206, 73);
    background: transparent;
    font-size: 20px;
}

::-webkit-input-placeholder {
    color: rgb(73, 206, 73);
}

::-moz-input-placeholder {
    color: rgb(73, 206, 73);
}

::-ms-input-placeholder {
    color: rgb(73, 206, 73);
}

#submit {
    background: rgb(73, 206, 73);
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}